<!DOCTYPE html>
<html>
<head>
  <title>NewRelicPing</title>
  <%= stylesheet_link_tag    'new_relic_ping/application', :media => 'all' %>
  <%= javascript_include_tag 'new_relic_ping/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
